:root {
  /* Tertiary Color */
  tertiarycolor-100: #cfd0db;
  tertiarycolor-200: #9ea1b7;
  tertiarycolor-300: #6e7394;
  tertiarycolor-400: #3d4470;
  tertiarycolor-500: #0d154c;
  tertiarycolor-600: #0a113d;
  tertiarycolor-700: #080d2e;
  tertiarycolor-800: #05081e;
  tertiarycolor-900: #03040f;
  tertiarycolor-lighter: tertiaryColor-100;
  tertiarycolor-light: tertiaryColor-300;
  tertiarycolor: tertiaryColor-500;
  tertiarycolor-dark: tertiaryColor-700;
  tertiarycolor-darker: tertiaryColor-900;
}
h1,
.h1 {
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  color: tertiaryColor;
  font-family: primaryFontFamily;
  font-size: 80px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.05;

  @include media-lt-1200 {
    font-size: 8vw;
  }

  @include media-lt-600 {
    font-size: 38px;
  }
}
