:root {
  /* Tertiary Color */
  --tertiaryColor-100: #cfd0db;
  --tertiaryColor-200: #9ea1b7;
  --tertiaryColor-300: #6e7394;
  --tertiaryColor-400: #3d4470;
  --tertiaryColor-500: #0d154c;
  --tertiaryColor-600: #0a113d;
  --tertiaryColor-700: #080d2e;
  --tertiaryColor-800: #05081e;
  --tertiaryColor-900: #03040f;
  --tertiaryColor-lighter: --tertiaryColor-100;
  --tertiaryColor-light: --tertiaryColor-300;
  --tertiaryColor: --tertiaryColor-500;
  --tertiaryColor-dark: --tertiaryColor-700;
  --tertiaryColor-darker: --tertiaryColor-900;
}
h1,
.h1 {
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  color: --tertiaryColor;
  font-family: --primaryFontFamily;
  font-size: 80px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.05;

  @include media-lt-1200 {
    font-size: 8vw;
  }

  @include media-lt-600 {
    font-size: 38px;
  }
}
